<!DOCTYPE html>
<html>
  <head>
    <title>Course Registration Portal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="main">
    <h1><%= @page_title %></h1>
  </header>
  <section class="content">
    <nav class="side_nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/courses">Course List</a></li>
      </ul>
    </nav>
    <main class='<%= controller.controller_name %>'>
      <%= yield %>
    </main>
    ➤
  </section>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
